.chart__sale .recharts-wrapper {
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .chart__sale {
    box-shadow: none !important; /* Remove the box shadow */
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2) !important;
    border-radius: 15px !important;
  }
  