@import '../../Stylings/mixins/mixins.scss';
@import '../../Stylings/variables/colors.scss';
@import '../../Stylings/variables/fonts.scss';

.Searchby{
    font-family: $myFont;
    @include font-semibold;
    padding: 0px 50px;
    gap: 10px;
    .Searchby__title{
        font-size: 24px;
        padding: 10px 0px;
    }
    .Searchby__title_type{
        font-size: 20px;

        ul{
            list-style-type: none;
            @include font-normal;
            font-size: 16px;
            li{
                border-bottom: $primaryColor1 1px solid;
                cursor: pointer;
                color: $primaryColor1;
                padding-top: 5px;
                padding-left: 5px;
                &:hover{
                    background-color: $primaryColor1;
                    color: $primaryColor3;
                }
            }
        }
    }
}