@import "../../Stylings/mixins/mixins.scss";

.InventoryTablePage {
  @include display-items-columns;
  align-items: flex-start; /* Align items to the left side */
  gap: 40px;

  .PrimaryButton {
    align-self: flex-start; /* Align the button to the left */

  }

  /* Add any additional styling for the InventoryTable component here */
}
