@import "../../../Stylings/mixins/mixins.scss";
@import "../../../Stylings/variables/fonts.scss";

.Employeedashboard{
    font-family: $myFont;
    .Employeedashboard__maincontainer{
      margin: 30px 75px;
      display: flex;
      flex-direction: column;
      gap: 25px;  
        .Employeedashboard__header{
            @include font-semibold;
        }
        .Employeedashboard__card_container{
           display: flex;
           flex-direction: row;
           justify-content: space-between;
        }
    }

    .Employeedashboard__subcontainer{       
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .Employeedashboard__subcontainer__notification{
            display: flex;
            flex-direction: column;
            gap: 5px;
            .Employeedashboard__subcontainer__notification__title{
                color: red;
                font-weight: bold;
            }
        }
    }

}