@import "../../Stylings/mixins/mixins.scss";
@import "../../Stylings/variables/colors.scss";
@import "../../Stylings/variables/fonts.scss";

.LoginPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $myFont;
    @include font-semibold;
    align-items: center;

    .LoginPage__title{
        margin-bottom: -30px;
        margin-top: 50px;
    }
}