.carousel-caption {
  text-align: center;
  padding-bottom: 250px;
  /* Add any custom styles for the caption text here */
}

.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* Adjust the height as per your requirement */
}

.carousel-image {
  max-width: 100%;
  height: auto;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as per your requirement */
}
