@import '../../Stylings/mixins/mixins.scss';
@import '../../Stylings/variables/colors.scss';
@import '../../Stylings/variables/fonts.scss';
@import '~bootstrap/scss/bootstrap.scss';

.SubNavbar{
  width: 100%; 
  background-color: $primaryColor2;
  display: flex;
  flex-direction: row;
  @include font-normal;
  color: $primaryColor3;
  
  .SubNavbar__list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    &:hover{
      background-color: white;
      cursor: pointer;
      color: $primaryColor2;
    }   
  }
  .SubNavbar__dropdown .dropdown-toggle{
    color: $primaryColor3;
  }
}